
path {
    fill: none;
}

.freeway {
    stroke: orange;
    stroke-width: 3px;
}

.artery {
    stroke: #555;
    stroke-width:1px;
}

.street {
    stroke: gray;
}

.neighborhood {
    opacity: .2;
    stroke: black;
}

.neighborhood:hover {
    opacity: .5;
}