<div class="controls pull-right">
    <div class="filter-panel">
        <div class="filter">
            <input class="filter-input" type="text" placeholder="search for route" />
        </div>
        <div class="route-list">
            <table class="table">
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="legend">
        <h2>Legend</h2>
        <table>
            <tr><td><img src="../img/bus.png"> - Bus</td><td><img src="../img/stop.png"> - Bus Stop</td></tr>
            <tr><td colspan="2"><input type="checkbox"> - Show busses for route</td></tr>
            <tr><td colspan="2"><button type="button" class="btn-default plot">Plot</button> - Plot route stops on map</td></tr>
            <tr><td colspan="2">Tip: Hover over stops or busses for more details</td></tr>
        </table>
    </div>
</div>